{% extends "layout.html" %}

{% block body %}

<h1>Log Activity</h1>

<!--
action 是用户在 Quick Actions 选择的 Activity。

action[0] = id
action[1] = name
action[2] = description
action[3] = icon
action[4] = color
action[8] = default_goal_minutes
-->

<h2>
    {{ action[3] }} {{ action[1] }}
</h2>

<p>{{ action[2] }}</p>

<form method="POST">

    <!-- 记录这次 Activity 做了多少分钟 
    value：
    如果是 Timer 过来的 → 显示真实计时时长。
    如果用户直接点 Manual Log → 继续显示系统默认时间。-->
    <label>Duration (minutes)</label><br>
    <input
        type="number"
        name="duration_minutes"
        value="{{ timer_duration if timer_duration else action[8] }}"
        min="1"
        required
    >

    <br><br>

    <!--
    Date（日期）

    today 是 app.py 自动取得的今天日期。
    这样用户打开 Log Activity 时，
    不需要自己每次重新选择今天。
    -->
        <label>Date</label><br>

    <input
        type="date"
        name="log_date"
        value="{{ today }}"
        required
    >
    

    <br><br>

    <!-- 用户完成 Activity 后的心情 -->
    <label>Mood</label><br>
    <select name="mood">
        <option value="Great">Great</option>
        <option value="Good">Good</option>
        <option value="Okay">Okay</option>
        <option value="Tired">Tired</option>
        <option value="Bad">Bad</option>
    </select>

    <br><br>

    <!-- Productivity 使用 1-5 评分 -->
    <label>Productivity</label><br>
    <select name="productivity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <br><br>

    <!-- Energy 使用 1-5 评分 -->
    <label>Energy</label><br>
    <select name="energy">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <br><br>

    <!-- 可以填写这次 Activity 的额外记录 -->
    <label>Notes</label><br>
    <textarea
        name="notes"
        rows="4"
        cols="40"
    ></textarea>

    <br><br>

    <button type="submit">
        Save Activity
    </button>

</form>

<br>

<a href="{{ url_for('quick_actions') }}">
    Back to Quick Actions
</a>

{% endblock %}